{% extends 'base.html' %}
{% block title %}My awesome page title{% endblock %}

{% block content %}
    <h1>Application Form</h1>
    <p class="instructions">Please complete to following application and hit submit</p>
    <form action="/application-success" method="POST">
        <p>First Name: <input type="text" name="firstName" required></p>
        <p>Last Name: <input type="text" name="lastName" class="bold" required></p>
        <p>Salary: <input type="number" name="salary" required></p>
        <p>Which job are you applying to? <select name="job">
        {% for job in jobs %}
            <option value="{{ job }}">{{ job }}</option>
        {% endfor %}
        </select></p>
        <input type="submit">
    </form>
{% endblock %}
